data/*
.idea
*.swp
*~
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
node_modules
bower_components
coverage
test-results.xml
*.orig

*.sqlite3
*.DS_Store
*.log
*.mo
*.pyc
*.sqlite
/.*
!.coveragerc
!.gitignore
!.mailmap
!.testr.conf
.*.sw?
AUTHORS
Authors
build/*
build-stamp
ChangeLog
cinder.egg-info
cover/*
covhtml
dist/*

instances
keeper
keys
local_settings.py
tools/lintstack.head.py
tools/pylint_exceptions
tags
# Files created by Sphinx build
doc/build


#Files created for API reference
api-ref/build

# Files created by releasenotes build
releasenotes/build
*.pdf
site/cn/migrations/
temp/
